# --- Core Voyager Dependencies ---
openai>=1.0.0
langchain>=0.1.0
langchain-community
langchain-openai
langchain-core<0.2.0
chromadb==0.3.29
fastapi==0.85.1
pydantic<2.0,>=1.10.0
javascript==1!1.2.6

# --- Utils & Support ---
python-dotenv
tiktoken
tqdm
fpdf
pathlib
PyYAML
requests

# --- Database & Server ---
uvicorn
starlette